<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<section th:fragment="memberInfo" id="member-info" class="content-tab">
			<h3>회원 정보 수정</h3>
			<div class="member-infolist">
				<form>
					<p>이름 <input type="text" id="name" th:value="${member.memName}"></p>
			        <p>닉네임 <input type="text" id="nickname" th:value="${member.memNickname}"></p>
			        <p>비밀번호 <input type="password" id="password"></p>
			        <p>비밀번호 확인 <input type="password" id="checkPassword"></p>
			        <p>이메일 <input type="text" id="email" th:value="${member.memEmail}"></p>
			        <p>전화번호 <input type="text" id="phone" th:value="${member.memPhone}"></p>
			        <p>가입일 <span th:text="${#temporals.format(member.memInsertAt, 'yyyy-MM-dd')}">가입일</span></p>
				</form><br><br>
			    <a href="#" id="updateMember" th:if="${#authorization.expr('isAuthenticated()')}">수정</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" id="deleteMember" th:if="${#authorization.expr('isAuthenticated()')}">회원탈퇴</a>
		    </div>
		</section>
</html>